@font-face {
	font-family: 'Noto Serif';
	src: url('/fonts/NotoSerif-Regular.ttf');
}

body {
	margin: 0;
	font-family: 'Noto Serif';
}

html,
body,
body > div {
	height: 100%;
}

input {
	font: inherit;
	padding: 5px 10px;
}

button {
	font: inherit;
	padding: 5px 10px;
}

select {
	font: inherit;
	padding: 5px 10px;
}
